body{
    background-color: lightgray;
    color: black;
}

.title{
    text-align: center;
    font-family: "Century";
    padding-left: 40px;
    line-height: 30px;
}

.title:before{
    content:url(../images/task.png);
}

.addlist{
    text-align: center;
    font-family: "Century";
}

/* リストの黒丸を消す */
ul{
    list-style: none;
    padding:10px;
}

ul li{
    line-height: 2;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.lists{
    font-family: "Century";
    background-color: gray;
    color: white;
    margin: 10px;
    width: calc(50% - 10px);
    flex:1;
}

.deletePosition{
    text-align: right;
}